.FinishedQuiz {
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuiz ul li i {
    margin-left: 10px;
}

i.success {
    color: green;
}


i.error {
    color: red;
}






