.AnswersItem {
    border: 1px solid #333;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.AnswersItem:hover {
    background-color: gold;
    transition: background-color .3s ease-in-out;
}

.AnswersItem.success {
    background: green;
}

.AnswersItem.error {
    background: red;
}








